
<div class="boxes">
    <div class="box" *ngFor="let item of ads | slice:0:10"> <!--ngFor to show the data in sequence using item of ads and pipe to filter only the first 10  -->
           <p class="overlay">{{item.metadata.size}}</p>
           <img src="{{item.url}}" alt="">  <!--all images of the app should be in folder assets -->
      <div class="details">

           <h2>{{item.title}}</h2>
           <p>35764 sinn / Fleisbach</p>

           <div class="price_desc">
               <p class="price">{{item.advertisementPrice.sellPrice}} &euro;</p>
               <p>{{item.metadata.width}} Zimmer <span> | </span> ab {{item.metadata.width}}m<sup>2</sup></p>
           </div>

      </div> <!--details div ended -->
    </div> <!--box div ended -->

</div> <!--boxes div ended -->
